extends cach-hoc-layout

block inside
  h3 Tự học
  hr
  br
  h4 Phần 1: Các nguyên tắc bắt buộc phải biết để học tiếng Anh hiệu quả, các bạn click vào nguyên tắc muốn xem để đọc thêm nhé:
  br
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/nguyen-tac-1") Nguyên tắc 1: “Hãy cố gắng truyền đạt ý của bạn, đừng cố truyền đạt những từ xuất hiện trong đầu bạn khi bạn có ý nào đó“.
  br
  p 
    a(href="#{endpoint}cach-hoc-link-tai-phim/nguyen-tac-2") Nguyên tắc 2: “Ngữ pháp không phải là con đường dẫn đến thành Rome”.
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/nguyen-tac-3") Nguyên tắc số 3: “Luyện tập phản xạ mới là cái giúp cho bạn giao tiếp được”.
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/nguyen-tac-4") Nguyên tắc số 4: “Phát âm cho chuẩn, nếu không thì KHÓ lắm”.
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/nguyen-tac-5") Nguyên tắc số 5: Từ vựng, từ vựng, từ vựng.
  br
  h4 Phần 2: Hướng dẫn cách học
  br
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/hoc-phat-am") Học phát âm.
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/luyen-tap-phan-xa") Luyện tập phản xạ.
  br
  p
    a(href="#{endpoint}cach-hoc-link-tai-phim/hoc-tu-vung") Học từ vựng.
  br
  h4 Phần 3: Link tải Season 1-2 của các Series phim nổi tiếng
  br
  br
  p
    a(href="https://drive.google.com/open?id=0BxleRTSUV-d4MWNtZmJBQkdBTHM") How I met your mother
  br
  p
    a(href="https://drive.google.com/open?id=0B5Y4fiMBOwmtVGw4Um1oejZ2N28") Friends
  br
  p
    a(href="https://drive.google.com/drive/folders/0B2haRrTFcH2WSWNwS3hqam1FQTQ?usp=sharing") Two and a half men
  br
  p
    a(href="https://drive.google.com/open?id=0B-gghyGM9L_wNWZHdTZDVTlZaE0") The Big Bang Theory
  br
  p
    a(href="https://drive.google.com/open?id=0B5Y4fiMBOwmtaWIzb0xscXdubVk") Mind your language
