doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type="text/css" href='/css/semantic.min.css')
    style.
      #body-content {
        margin-top: 8%;
      }
  body
    //- - var endpoint = 'http://tienganhthaytien.com/'
    - var endpoint = 'http://localhost:3001/'
    
    // Following Menu
    .ui.large.top.fixed.hidden.menu
      .ui.container
        a.item(href=endpoint)
          img.ui.small.image(src="/brand-transparent.png", style='width:60px;height:45px;')
        .right.menu
          a.active.item Trang chủ
          .ui.dropdown.item
            i.dropdown.icon  Đăng ký học
            .menu
              a.item(href='#{endpoint}test-dau-vao/') Test đầu vào
              a.item(href='#{endpoint}dang-ky-hoc/') Đăng ký học
          .ui.dropdown.item
            i.dropdown.icon  Tự học
            .menu
              a.item(href='#{endpoint}cach-hoc-link-tai-phim/') Cách học & Link tải phim
              a.item(href='#{endpoint}phim/') Phim
              a.item(href='#{endpoint}truyen/') Truyện
              a.item(href='#{endpoint}luyen-nghe/') Luyện nghe
          a.item(href='http://dict.tienganhthaytien.com/') Dictionary
          a.item(href='#{endpoint}lien-he/') Liên hệ
    
    // Sidebar Menu
    .ui.vertical.inverted.sidebar.menu
      a.active.item Trang chủ
      .ui.dropdown.item
        i.dropdown.icon  Đăng ký học
        .menu
          a.item(href='#{endpoint}test-dau-vao/') Test đầu vào
          a.item(href='#{endpoint}dang-ky-hoc/') Đăng ký học
      .ui.dropdown.item
        i.dropdown.icon  Tự học
        .menu
          a.item(href='#{endpoint}cach-hoc-link-tai-phim/') Cách học & Link tải phim
          a.item(href='#{endpoint}phim/') Phim
          a.item(href='#{endpoint}truyen/') Truyện
          a.item(href='#{endpoint}luyen-nghe/') Luyện nghe
      a.item(href='http://dict.tienganhthaytien.com/') Dictionary
      a.item(href='#{endpoint}lien-he/') Liên hệ

    // Page contents
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
          a.item(href=endpoint)
            img.ui.small.image(src="/brand-transparent.png", style='width:60px;height:45px;')
          .right.menu
            a.active.item Trang chủ
            .ui.dropdown.item
              i.dropdown.icon  Đăng ký học
              .menu
                a.item(href='#{endpoint}test-dau-vao/') Test đầu vào
                a.item(href='#{endpoint}dang-ky-hoc/') Đăng ký học
            .ui.dropdown.item
              i.dropdown.icon  Tự học
              .menu
                a.item(href='#{endpoint}cach-hoc-link-tai-phim/') Cách học & Link tải phim
                a.item(href='#{endpoint}phim/') Phim
                a.item(href='#{endpoint}truyen/') Truyện
                a.item(href='#{endpoint}luyen-nghe/') Luyện nghe
            a.item(href='http://dict.tienganhthaytien.com/') Dictionary
            a.item(href='#{endpoint}lien-he/') Liên hệ
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous")
    script(type='text/javascript', src='/js/semantic.min.js')
    script.
      $(document)
        .ready(function() {
          // fix menu when passed
          $('.masthead')
            .visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
              }
            });
          // create sidebar and attach to menu open
          $('.ui.sidebar')
            .sidebar('attach events', '.toc.item');
          $('.ui.dropdown').dropdown({transition: 'drop', on: 'hover'});
          $('.ui.embed').embed();
        });
